		body{
			font-size: 16px;
		}
		img{
			width: 300px;
		}
		.image{
			padding-top:20px;
		}
		.form{
			width: 40%;
			margin:0 auto;
		}
		input{
			font-size: 20px;
		}
		button{
			font-size: 20px;
		}

		table{
			width: 100%;
		}